<div class="container mt-4">
  <h1 class="text .ms-0"><h1><%= @place["name"] %></h1>

<div class="container mt-4 ms-0">
<a class="btn btn-outline-secondary" href="/entries/new?place_id=<%= @place["id"] %>" role="button">New Post</a>
 </div>

<div class="container mt-4 ms-0">
  <div class="row">
<% for entry in @entries %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <h3><%= entry["title"] %></h3>
      <h4><%= entry["occurred_on"] %></h4>
      <img src="<%= entry["image"] %>" class="img-fluid">
      <p><%= entry["description"] %></p>
    </div>
    </div>
<% end %>


<a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/places">
  Back to All Places
</a>